.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
.DS_Store

# Images are usually generated as tests
*.png

# Use for local testing
test_notebook.ipynb

# Token information should not be uploaded
TOKEN.txt
